openapi: 3.1.0
info:
  title: Vantage Cloud Pricing Access Grants Financial Commitment Reports API
  description: The Vantage Cloud Pricing API provides programmatic access to cloud infrastructure pricing data across multiple cloud providers. You can query products, services, and providers to retrieve up-to-date pricing information for AWS, Azure, GCP, and other supported cloud platforms. The API is free for all registered Vantage users and returns JSON-encoded responses. An OpenAPI specification is always available at https://api.vantage.sh/v1/swagger.json.
  version: 1.0.0
  contact:
    name: Vantage Support
    url: https://www.vantage.sh/
  license:
    name: Proprietary
    url: https://www.vantage.sh/terms
  termsOfService: https://www.vantage.sh/terms
servers:
- url: https://api.vantage.sh/v1
  description: Vantage Cloud Pricing API v1 Production
security:
- bearerAuth: []
tags:
- name: Financial Commitment Reports
  description: Create and manage financial commitment reports.
paths:
  /financial_commitment_reports:
    get:
      operationId: getFinancialCommitmentReports
      summary: Vantage Get All Financial Commitment Reports
      description: Returns all Financial Commitment Reports that the current API token has access to.
      tags:
      - Financial Commitment Reports
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response with a list of Financial Commitment Reports.
          content:
            application/json:
              schema:
                type: object
                properties:
                  financial_commitment_reports:
                    type: array
                    items:
                      $ref: '#/components/schemas/FinancialCommitmentReport'
              examples:
                Getfinancialcommitmentreports200Example:
                  summary: Default getFinancialCommitmentReports 200 response
                  x-microcks-default: true
                  value:
                    financial_commitment_reports:
                    - token: example_value
                      title: Example Title
                      workspace_token: example_value
                      created_at: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createFinancialCommitmentReport
      summary: Vantage Create a Financial Commitment Report
      description: Creates a new Financial Commitment Report.
      tags:
      - Financial Commitment Reports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinancialCommitmentReportInput'
            examples:
              CreatefinancialcommitmentreportRequestExample:
                summary: Default createFinancialCommitmentReport request
                x-microcks-default: true
                value:
                  title: Example Title
                  workspace_token: example_value
      responses:
        '201':
          description: Financial Commitment Report created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialCommitmentReport'
              examples:
                Createfinancialcommitmentreport201Example:
                  summary: Default createFinancialCommitmentReport 201 response
                  x-microcks-default: true
                  value:
                    token: example_value
                    title: Example Title
                    workspace_token: example_value
                    created_at: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /financial_commitment_reports/{financial_commitment_report_token}:
    get:
      operationId: getFinancialCommitmentReport
      summary: Vantage Get a Financial Commitment Report
      description: Returns a specific Financial Commitment Report by token.
      tags:
      - Financial Commitment Reports
      parameters:
      - $ref: '#/components/parameters/FinancialCommitmentReportToken'
      responses:
        '200':
          description: Successful response with the Financial Commitment Report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialCommitmentReport'
              examples:
                Getfinancialcommitmentreport200Example:
                  summary: Default getFinancialCommitmentReport 200 response
                  x-microcks-default: true
                  value:
                    token: example_value
                    title: Example Title
                    workspace_token: example_value
                    created_at: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteFinancialCommitmentReport
      summary: Vantage Delete a Financial Commitment Report
      description: Deletes an existing Financial Commitment Report.
      tags:
      - Financial Commitment Reports
      parameters:
      - $ref: '#/components/parameters/FinancialCommitmentReportToken'
      responses:
        '204':
          description: Financial Commitment Report deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    FinancialCommitmentReport:
      type: object
      properties:
        token:
          type: string
          description: The unique token identifier for the report.
          example: example_value
        title:
          type: string
          description: The title of the Financial Commitment Report.
          example: Example Title
        workspace_token:
          type: string
          description: The token of the Workspace this report belongs to.
          example: example_value
        created_at:
          type: string
          format: date-time
          description: The date and time the report was created.
          example: '2026-01-15T10:30:00Z'
    FinancialCommitmentReportInput:
      type: object
      required:
      - title
      properties:
        title:
          type: string
          description: The title of the Financial Commitment Report.
          example: Example Title
        workspace_token:
          type: string
          description: The token of the Workspace for the report.
          example: example_value
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              message:
                type: string
                description: A human-readable error message.
          example: []
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    UnprocessableEntity:
      description: The request was well-formed but could not be processed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    FinancialCommitmentReportToken:
      name: financial_commitment_report_token
      in: path
      required: true
      description: The unique token of the Financial Commitment Report.
      schema:
        type: string
    LimitParam:
      name: limit
      in: query
      description: The number of results per page.
      schema:
        type: integer
        default: 25
    PageParam:
      name: page
      in: query
      description: The page of results to return.
      schema:
        type: integer
        default: 1
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Vantage API token. Create a free API key from your Vantage account page at https://console.vantage.sh/account/api_access_tokens.
