openapi: 3.2.0
info:
  title: Vantage Cost Management Managed Accounts API
  description: The Vantage Cost Management API provides programmatic access to cloud cost data and enables automation of cost management workflows.
  version: 2.0.0
  contact:
    name: Vantage Support
    url: https://www.vantage.sh/
  license:
    name: Proprietary
    url: https://www.vantage.sh/terms
  termsOfService: https://www.vantage.sh/terms
servers:
- url: https://api.vantage.sh/v2
  description: Vantage API v2 Production
security:
- bearerAuth: []
tags:
- name: Managed Accounts
  description: Manage linked cloud provider accounts.
paths:
  /managed_accounts:
    get:
      operationId: getManagedAccounts
      summary: Vantage Get All Managed Accounts
      description: Returns all Managed Accounts (linked cloud provider accounts) that the current API token has access to.
      tags:
      - Managed Accounts
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response with a list of Managed Accounts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  managed_accounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/ManagedAccount'
              examples:
                Getmanagedaccounts200Example:
                  summary: Default getManagedAccounts 200 response
                  x-microcks-default: true
                  value:
                    managed_accounts:
                    - token: example_value
                      name: Example Title
                      account_identifier: example_value
                      provider: example_value
                      created_at: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              message:
                type: string
                description: A human-readable error message.
          example: []
    ManagedAccount:
      type: object
      properties:
        token:
          type: string
          description: The unique token identifier for the Managed Account.
          example: example_value
        name:
          type: string
          description: The name of the Managed Account.
          example: Example Title
        account_identifier:
          type: string
          description: The cloud provider account identifier.
          example: example_value
        provider:
          type: string
          description: The cloud provider.
          example: example_value
        created_at:
          type: string
          format: date-time
          description: The date and time the Managed Account was created.
          example: '2026-01-15T10:30:00Z'
  parameters:
    PageParam:
      name: page
      in: query
      description: The page of results to return.
      schema:
        type: integer
        default: 1
    LimitParam:
      name: limit
      in: query
      description: The number of results per page.
      schema:
        type: integer
        default: 25
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Vantage API token. Create an API token from your Vantage account settings page at https://console.vantage.sh/account/api_access_tokens.
