openapi: 3.1.0
info:
  title: Vantage Cost Management API
  description: >-
    The Vantage Cost Management API provides programmatic access to cloud cost
    data and enables automation of cost management workflows. You can create and
    manage Cost Reports, Folders, Dashboards, Saved Filters, Teams, Budgets,
    Anomaly Alerts, Business Metrics, Network Flow Reports, Financial Commitment
    Reports, Resource Reports, and more. The API uses the Vantage Query Language
    (VQL) for filtering cloud cost data with a normalized schema across various
    cloud providers. Authentication is performed via Bearer tokens using Vantage
    API tokens.
  version: 2.0.0
  contact:
    name: Vantage Support
    url: https://www.vantage.sh/
  license:
    name: Proprietary
    url: https://www.vantage.sh/terms
  termsOfService: https://www.vantage.sh/terms
servers:
  - url: https://api.vantage.sh/v2
    description: Vantage API v2 Production
security:
  - bearerAuth: []
tags:
  - name: Cost Reports
    description: Create, read, update, and delete Cost Reports.
  - name: Costs
    description: Retrieve cost data for Cost Reports or VQL filters.
  - name: Folders
    description: Manage folders for organizing Cost Reports.
  - name: Dashboards
    description: Create and manage cost dashboards.
  - name: Saved Filters
    description: Manage saved filters for cost data.
  - name: Workspaces
    description: Manage workspaces and workspace access.
  - name: Teams
    description: Create and manage teams.
  - name: Access Grants
    description: Manage resource access grants for teams.
  - name: Budget Alerts
    description: Create and manage budget alerts.
  - name: Anomaly Alerts
    description: Create and manage cost anomaly alerts.
  - name: Recommendations
    description: Retrieve cost optimization recommendations.
  - name: Segments
    description: Create, update, and delete cost allocation segments.
  - name: Integrations
    description: Manage cloud provider integrations.
  - name: Managed Accounts
    description: Manage linked cloud provider accounts.
  - name: Cost Providers
    description: Retrieve available cost providers.
  - name: Business Metrics
    description: Create, update, and delete business metrics.
  - name: Resource Reports
    description: Create and manage resource reports.
  - name: Resources
    description: Retrieve resource data from reports.
  - name: Network Flow Reports
    description: Create and manage network flow reports.
  - name: Financial Commitment Reports
    description: Create and manage financial commitment reports.
  - name: Kubernetes
    description: Manage Kubernetes cost data and efficiency reports.
paths:
  /cost_reports:
    get:
      operationId: getCostReports
      summary: Get all Cost Reports
      description: Returns all Cost Reports that the current API token has access to.
      tags:
        - Cost Reports
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response with a list of Cost Reports.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cost_reports:
                    type: array
                    items:
                      $ref: '#/components/schemas/CostReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createCostReport
      summary: Create a Cost Report
      description: Creates a new Cost Report.
      tags:
        - Cost Reports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostReportInput'
      responses:
        '201':
          description: Cost Report created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostReport'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /cost_reports/{cost_report_token}:
    get:
      operationId: getCostReport
      summary: Get a Cost Report
      description: Returns a specific Cost Report by token.
      tags:
        - Cost Reports
      parameters:
        - $ref: '#/components/parameters/CostReportToken'
      responses:
        '200':
          description: Successful response with the Cost Report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateCostReport
      summary: Update a Cost Report
      description: Updates an existing Cost Report.
      tags:
        - Cost Reports
      parameters:
        - $ref: '#/components/parameters/CostReportToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostReportInput'
      responses:
        '200':
          description: Cost Report updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: deleteCostReport
      summary: Delete a Cost Report
      description: Deletes an existing Cost Report.
      tags:
        - Cost Reports
      parameters:
        - $ref: '#/components/parameters/CostReportToken'
      responses:
        '204':
          description: Cost Report deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /costs:
    get:
      operationId: getCosts
      summary: Get Costs
      description: >-
        Returns all Costs for a CostReport or VQL filter. You can filter by
        cost_report_token or provide a VQL query to retrieve specific cost data.
      tags:
        - Costs
      parameters:
        - name: cost_report_token
          in: query
          description: The token of the Cost Report to retrieve costs for.
          schema:
            type: string
        - name: start_date
          in: query
          description: The start date for the cost data (YYYY-MM-DD).
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          description: The end date for the cost data (YYYY-MM-DD).
          schema:
            type: string
            format: date
        - name: groupings
          in: query
          description: Comma-separated list of groupings for cost data.
          schema:
            type: string
        - name: vql
          in: query
          description: A VQL filter expression to query cost data.
          schema:
            type: string
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response with cost data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  costs:
                    type: array
                    items:
                      $ref: '#/components/schemas/Cost'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /folders:
    get:
      operationId: getFolders
      summary: Get all Folders
      description: Returns all Folders that the current API token has access to.
      tags:
        - Folders
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response with a list of Folders.
          content:
            application/json:
              schema:
                type: object
                properties:
                  folders:
                    type: array
                    items:
                      $ref: '#/components/schemas/Folder'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createFolder
      summary: Create a Folder
      description: Creates a new Folder for organizing Cost Reports.
      tags:
        - Folders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderInput'
      responses:
        '201':
          description: Folder created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /folders/{folder_token}:
    get:
      operationId: getFolder
      summary: Get a Folder
      description: Returns a specific Folder by token.
      tags:
        - Folders
      parameters:
        - $ref: '#/components/parameters/FolderToken'
      responses:
        '200':
          description: Successful response with the Folder.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateFolder
      summary: Update a Folder
      description: Updates an existing Folder.
      tags:
        - Folders
      parameters:
        - $ref: '#/components/parameters/FolderToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FolderInput'
      responses:
        '200':
          description: Folder updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteFolder
      summary: Delete a Folder
      description: Deletes an existing Folder.
      tags:
        - Folders
      parameters:
        - $ref: '#/components/parameters/FolderToken'
      responses:
        '204':
          description: Folder deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /dashboards:
    get:
      operationId: getDashboards
      summary: Get all Dashboards
      description: Returns all Dashboards that the current API token has access to.
      tags:
        - Dashboards
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response with a list of Dashboards.
          content:
            application/json:
              schema:
                type: object
                properties:
                  dashboards:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dashboard'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createDashboard
      summary: Create a Dashboard
      description: Creates a new Dashboard.
      tags:
        - Dashboards
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardInput'
      responses:
        '201':
          description: Dashboard created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /dashboards/{dashboard_token}:
    get:
      operationId: getDashboard
      summary: Get a Dashboard
      description: Returns a specific Dashboard by token.
      tags:
        - Dashboards
      parameters:
        - $ref: '#/components/parameters/DashboardToken'
      responses:
        '200':
          description: Successful response with the Dashboard.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateDashboard
      summary: Update a Dashboard
      description: Updates an existing Dashboard.
      tags:
        - Dashboards
      parameters:
        - $ref: '#/components/parameters/DashboardToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DashboardInput'
      responses:
        '200':
          description: Dashboard updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteDashboard
      summary: Delete a Dashboard
      description: Deletes an existing Dashboard.
      tags:
        - Dashboards
      parameters:
        - $ref: '#/components/parameters/DashboardToken'
      responses:
        '204':
          description: Dashboard deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /saved_filters:
    get:
      operationId: getSavedFilters
      summary: Get all Saved Filters
      description: Returns all Saved Filters that the current API token has access to.
      tags:
        - Saved Filters
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response with a list of Saved Filters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  saved_filters:
                    type: array
                    items:
                      $ref: '#/components/schemas/SavedFilter'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createSavedFilter
      summary: Create a Saved Filter
      description: Creates a new Saved Filter.
      tags:
        - Saved Filters
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavedFilterInput'
      responses:
        '201':
          description: Saved Filter created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedFilter'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /saved_filters/{saved_filter_token}:
    get:
      operationId: getSavedFilter
      summary: Get a Saved Filter
      description: Returns a specific Saved Filter by token.
      tags:
        - Saved Filters
      parameters:
        - $ref: '#/components/parameters/SavedFilterToken'
      responses:
        '200':
          description: Successful response with the Saved Filter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedFilter'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateSavedFilter
      summary: Update a Saved Filter
      description: Updates an existing Saved Filter.
      tags:
        - Saved Filters
      parameters:
        - $ref: '#/components/parameters/SavedFilterToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavedFilterInput'
      responses:
        '200':
          description: Saved Filter updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedFilter'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteSavedFilter
      summary: Delete a Saved Filter
      description: Deletes an existing Saved Filter.
      tags:
        - Saved Filters
      parameters:
        - $ref: '#/components/parameters/SavedFilterToken'
      responses:
        '204':
          description: Saved Filter deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /workspaces:
    get:
      operationId: getWorkspaces
      summary: Get all Workspaces
      description: Returns all Workspaces that the current API token has access to.
      tags:
        - Workspaces
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response with a list of Workspaces.
          content:
            application/json:
              schema:
                type: object
                properties:
                  workspaces:
                    type: array
                    items:
                      $ref: '#/components/schemas/Workspace'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /workspaces/{workspace_token}:
    get:
      operationId: getWorkspace
      summary: Get a Workspace
      description: Returns a specific Workspace by token.
      tags:
        - Workspaces
      parameters:
        - $ref: '#/components/parameters/WorkspaceToken'
      responses:
        '200':
          description: Successful response with the Workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /teams:
    get:
      operationId: getTeams
      summary: Get all Teams
      description: Returns all Teams that the current API token has access to.
      tags:
        - Teams
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response with a list of Teams.
          content:
            application/json:
              schema:
                type: object
                properties:
                  teams:
                    type: array
                    items:
                      $ref: '#/components/schemas/Team'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createTeam
      summary: Create a Team
      description: Creates a new Team.
      tags:
        - Teams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamInput'
      responses:
        '201':
          description: Team created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /teams/{team_token}:
    get:
      operationId: getTeam
      summary: Get a Team
      description: Returns a specific Team by token.
      tags:
        - Teams
      parameters:
        - $ref: '#/components/parameters/TeamToken'
      responses:
        '200':
          description: Successful response with the Team.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateTeam
      summary: Update a Team
      description: Updates an existing Team.
      tags:
        - Teams
      parameters:
        - $ref: '#/components/parameters/TeamToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamInput'
      responses:
        '200':
          description: Team updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteTeam
      summary: Delete a Team
      description: Deletes an existing Team.
      tags:
        - Teams
      parameters:
        - $ref: '#/components/parameters/TeamToken'
      responses:
        '204':
          description: Team deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /access_grants:
    get:
      operationId: getAccessGrants
      summary: Get all Access Grants
      description: Returns all Access Grants that the current API token has access to.
      tags:
        - Access Grants
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response with a list of Access Grants.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_grants:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccessGrant'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createAccessGrant
      summary: Create an Access Grant
      description: Creates a new Access Grant for a team.
      tags:
        - Access Grants
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessGrantInput'
      responses:
        '201':
          description: Access Grant created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessGrant'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /access_grants/{access_grant_token}:
    get:
      operationId: getAccessGrant
      summary: Get an Access Grant
      description: Returns a specific Access Grant by token.
      tags:
        - Access Grants
      parameters:
        - $ref: '#/components/parameters/AccessGrantToken'
      responses:
        '200':
          description: Successful response with the Access Grant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessGrant'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteAccessGrant
      summary: Delete an Access Grant
      description: Deletes an existing Access Grant.
      tags:
        - Access Grants
      parameters:
        - $ref: '#/components/parameters/AccessGrantToken'
      responses:
        '204':
          description: Access Grant deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /budget_alerts:
    get:
      operationId: getBudgetAlerts
      summary: Get all Budget Alerts
      description: Returns all Budget Alerts that the current API token has access to.
      tags:
        - Budget Alerts
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response with a list of Budget Alerts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  budget_alerts:
                    type: array
                    items:
                      $ref: '#/components/schemas/BudgetAlert'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createBudgetAlert
      summary: Create a Budget Alert
      description: Creates a new Budget Alert.
      tags:
        - Budget Alerts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetAlertInput'
      responses:
        '201':
          description: Budget Alert created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetAlert'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /budget_alerts/{budget_alert_token}:
    get:
      operationId: getBudgetAlert
      summary: Get a Budget Alert
      description: Returns a specific Budget Alert by token.
      tags:
        - Budget Alerts
      parameters:
        - $ref: '#/components/parameters/BudgetAlertToken'
      responses:
        '200':
          description: Successful response with the Budget Alert.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetAlert'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateBudgetAlert
      summary: Update a Budget Alert
      description: Updates an existing Budget Alert.
      tags:
        - Budget Alerts
      parameters:
        - $ref: '#/components/parameters/BudgetAlertToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetAlertInput'
      responses:
        '200':
          description: Budget Alert updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetAlert'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteBudgetAlert
      summary: Delete a Budget Alert
      description: Deletes an existing Budget Alert.
      tags:
        - Budget Alerts
      parameters:
        - $ref: '#/components/parameters/BudgetAlertToken'
      responses:
        '204':
          description: Budget Alert deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /anomaly_alerts:
    get:
      operationId: getAnomalyAlerts
      summary: Get all Anomaly Alerts
      description: Returns all Anomaly Alerts that the current API token has access to.
      tags:
        - Anomaly Alerts
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response with a list of Anomaly Alerts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  anomaly_alerts:
                    type: array
                    items:
                      $ref: '#/components/schemas/AnomalyAlert'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createAnomalyAlert
      summary: Create an Anomaly Alert
      description: Creates a new Anomaly Alert.
      tags:
        - Anomaly Alerts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnomalyAlertInput'
      responses:
        '201':
          description: Anomaly Alert created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnomalyAlert'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /anomaly_alerts/{anomaly_alert_token}:
    get:
      operationId: getAnomalyAlert
      summary: Get an Anomaly Alert
      description: Returns a specific Anomaly Alert by token.
      tags:
        - Anomaly Alerts
      parameters:
        - $ref: '#/components/parameters/AnomalyAlertToken'
      responses:
        '200':
          description: Successful response with the Anomaly Alert.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnomalyAlert'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateAnomalyAlert
      summary: Update an Anomaly Alert
      description: Updates an existing Anomaly Alert.
      tags:
        - Anomaly Alerts
      parameters:
        - $ref: '#/components/parameters/AnomalyAlertToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnomalyAlertInput'
      responses:
        '200':
          description: Anomaly Alert updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnomalyAlert'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteAnomalyAlert
      summary: Delete an Anomaly Alert
      description: Deletes an existing Anomaly Alert.
      tags:
        - Anomaly Alerts
      parameters:
        - $ref: '#/components/parameters/AnomalyAlertToken'
      responses:
        '204':
          description: Anomaly Alert deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /recommendations:
    get:
      operationId: getRecommendations
      summary: Get all Recommendations
      description: >-
        Returns all cost optimization Recommendations that the current API token
        has access to.
      tags:
        - Recommendations
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response with a list of Recommendations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  recommendations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Recommendation'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /segments:
    get:
      operationId: getSegments
      summary: Get all Segments
      description: >-
        Returns all cost allocation Segments that the current API token has
        access to.
      tags:
        - Segments
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response with a list of Segments.
          content:
            application/json:
              schema:
                type: object
                properties:
                  segments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Segment'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createSegment
      summary: Create a Segment
      description: Creates a new cost allocation Segment.
      tags:
        - Segments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentInput'
      responses:
        '201':
          description: Segment created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /segments/{segment_token}:
    get:
      operationId: getSegment
      summary: Get a Segment
      description: Returns a specific Segment by token.
      tags:
        - Segments
      parameters:
        - $ref: '#/components/parameters/SegmentToken'
      responses:
        '200':
          description: Successful response with the Segment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateSegment
      summary: Update a Segment
      description: Updates an existing Segment.
      tags:
        - Segments
      parameters:
        - $ref: '#/components/parameters/SegmentToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentInput'
      responses:
        '200':
          description: Segment updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteSegment
      summary: Delete a Segment
      description: Deletes an existing Segment.
      tags:
        - Segments
      parameters:
        - $ref: '#/components/parameters/SegmentToken'
      responses:
        '204':
          description: Segment deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /integrations:
    get:
      operationId: getIntegrations
      summary: Get all Integrations
      description: >-
        Returns all cloud provider Integrations that the current API token has
        access to.
      tags:
        - Integrations
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response with a list of Integrations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  integrations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Integration'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createIntegration
      summary: Create an Integration
      description: Creates a new cloud provider Integration (e.g., Azure, GCP).
      tags:
        - Integrations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationInput'
      responses:
        '201':
          description: Integration created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /integrations/{integration_token}:
    get:
      operationId: getIntegration
      summary: Get an Integration
      description: Returns a specific Integration by token.
      tags:
        - Integrations
      parameters:
        - $ref: '#/components/parameters/IntegrationToken'
      responses:
        '200':
          description: Successful response with the Integration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteIntegration
      summary: Delete an Integration
      description: Deletes an existing Integration.
      tags:
        - Integrations
      parameters:
        - $ref: '#/components/parameters/IntegrationToken'
      responses:
        '204':
          description: Integration deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /managed_accounts:
    get:
      operationId: getManagedAccounts
      summary: Get all Managed Accounts
      description: >-
        Returns all Managed Accounts (linked cloud provider accounts) that the
        current API token has access to.
      tags:
        - Managed Accounts
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response with a list of Managed Accounts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  managed_accounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/ManagedAccount'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /cost_providers:
    get:
      operationId: getCostProviders
      summary: Get all Cost Providers
      description: Returns all available Cost Providers.
      tags:
        - Cost Providers
      responses:
        '200':
          description: Successful response with a list of Cost Providers.
          content:
            application/json:
              schema:
                type: object
                properties:
                  cost_providers:
                    type: array
                    items:
                      $ref: '#/components/schemas/CostProvider'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /business_metrics:
    get:
      operationId: getBusinessMetrics
      summary: Get all Business Metrics
      description: >-
        Returns all Business Metrics that the current API token has access to.
      tags:
        - Business Metrics
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response with a list of Business Metrics.
          content:
            application/json:
              schema:
                type: object
                properties:
                  business_metrics:
                    type: array
                    items:
                      $ref: '#/components/schemas/BusinessMetric'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createBusinessMetric
      summary: Create a Business Metric
      description: Creates a new Business Metric.
      tags:
        - Business Metrics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessMetricInput'
      responses:
        '201':
          description: Business Metric created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessMetric'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /business_metrics/{business_metric_token}:
    get:
      operationId: getBusinessMetric
      summary: Get a Business Metric
      description: Returns a specific Business Metric by token.
      tags:
        - Business Metrics
      parameters:
        - $ref: '#/components/parameters/BusinessMetricToken'
      responses:
        '200':
          description: Successful response with the Business Metric.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessMetric'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateBusinessMetric
      summary: Update a Business Metric
      description: Updates an existing Business Metric.
      tags:
        - Business Metrics
      parameters:
        - $ref: '#/components/parameters/BusinessMetricToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessMetricInput'
      responses:
        '200':
          description: Business Metric updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessMetric'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteBusinessMetric
      summary: Delete a Business Metric
      description: Deletes an existing Business Metric.
      tags:
        - Business Metrics
      parameters:
        - $ref: '#/components/parameters/BusinessMetricToken'
      responses:
        '204':
          description: Business Metric deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /resource_reports:
    get:
      operationId: getResourceReports
      summary: Get all Resource Reports
      description: >-
        Returns all Resource Reports that the current API token has access to.
      tags:
        - Resource Reports
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response with a list of Resource Reports.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resource_reports:
                    type: array
                    items:
                      $ref: '#/components/schemas/ResourceReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createResourceReport
      summary: Create a Resource Report
      description: Creates a new Resource Report.
      tags:
        - Resource Reports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceReportInput'
      responses:
        '201':
          description: Resource Report created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /resource_reports/{resource_report_token}:
    get:
      operationId: getResourceReport
      summary: Get a Resource Report
      description: Returns a specific Resource Report by token.
      tags:
        - Resource Reports
      parameters:
        - $ref: '#/components/parameters/ResourceReportToken'
      responses:
        '200':
          description: Successful response with the Resource Report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateResourceReport
      summary: Update a Resource Report
      description: Updates an existing Resource Report.
      tags:
        - Resource Reports
      parameters:
        - $ref: '#/components/parameters/ResourceReportToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceReportInput'
      responses:
        '200':
          description: Resource Report updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteResourceReport
      summary: Delete a Resource Report
      description: Deletes an existing Resource Report.
      tags:
        - Resource Reports
      parameters:
        - $ref: '#/components/parameters/ResourceReportToken'
      responses:
        '204':
          description: Resource Report deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /resources:
    get:
      operationId: getResources
      summary: Get Resources
      description: >-
        Returns Resources for a Resource Report. Provides detailed resource-level
        cost and usage data.
      tags:
        - Resources
      parameters:
        - name: resource_report_token
          in: query
          description: The token of the Resource Report to retrieve resources for.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response with resource data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  resources:
                    type: array
                    items:
                      $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /network_flow_reports:
    get:
      operationId: getNetworkFlowReports
      summary: Get all Network Flow Reports
      description: >-
        Returns all Network Flow Reports that the current API token has access
        to.
      tags:
        - Network Flow Reports
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response with a list of Network Flow Reports.
          content:
            application/json:
              schema:
                type: object
                properties:
                  network_flow_reports:
                    type: array
                    items:
                      $ref: '#/components/schemas/NetworkFlowReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createNetworkFlowReport
      summary: Create a Network Flow Report
      description: Creates a new Network Flow Report.
      tags:
        - Network Flow Reports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkFlowReportInput'
      responses:
        '201':
          description: Network Flow Report created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkFlowReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /network_flow_reports/{network_flow_report_token}:
    get:
      operationId: getNetworkFlowReport
      summary: Get a Network Flow Report
      description: Returns a specific Network Flow Report by token.
      tags:
        - Network Flow Reports
      parameters:
        - $ref: '#/components/parameters/NetworkFlowReportToken'
      responses:
        '200':
          description: Successful response with the Network Flow Report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkFlowReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteNetworkFlowReport
      summary: Delete a Network Flow Report
      description: Deletes an existing Network Flow Report.
      tags:
        - Network Flow Reports
      parameters:
        - $ref: '#/components/parameters/NetworkFlowReportToken'
      responses:
        '204':
          description: Network Flow Report deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /financial_commitment_reports:
    get:
      operationId: getFinancialCommitmentReports
      summary: Get all Financial Commitment Reports
      description: >-
        Returns all Financial Commitment Reports that the current API token has
        access to.
      tags:
        - Financial Commitment Reports
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: >-
            Successful response with a list of Financial Commitment Reports.
          content:
            application/json:
              schema:
                type: object
                properties:
                  financial_commitment_reports:
                    type: array
                    items:
                      $ref: '#/components/schemas/FinancialCommitmentReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createFinancialCommitmentReport
      summary: Create a Financial Commitment Report
      description: Creates a new Financial Commitment Report.
      tags:
        - Financial Commitment Reports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinancialCommitmentReportInput'
      responses:
        '201':
          description: Financial Commitment Report created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialCommitmentReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /financial_commitment_reports/{financial_commitment_report_token}:
    get:
      operationId: getFinancialCommitmentReport
      summary: Get a Financial Commitment Report
      description: Returns a specific Financial Commitment Report by token.
      tags:
        - Financial Commitment Reports
      parameters:
        - $ref: '#/components/parameters/FinancialCommitmentReportToken'
      responses:
        '200':
          description: Successful response with the Financial Commitment Report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialCommitmentReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteFinancialCommitmentReport
      summary: Delete a Financial Commitment Report
      description: Deletes an existing Financial Commitment Report.
      tags:
        - Financial Commitment Reports
      parameters:
        - $ref: '#/components/parameters/FinancialCommitmentReportToken'
      responses:
        '204':
          description: Financial Commitment Report deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /kubernetes:
    get:
      operationId: getKubernetesEfficiencyReports
      summary: Get Kubernetes Efficiency Reports
      description: >-
        Returns Kubernetes efficiency data that the current API token has access
        to.
      tags:
        - Kubernetes
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response with Kubernetes efficiency data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  kubernetes_efficiency_reports:
                    type: array
                    items:
                      $ref: '#/components/schemas/KubernetesEfficiencyReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        Vantage API token. Create an API token from your Vantage account
        settings page at https://console.vantage.sh/account/api_access_tokens.
  parameters:
    PageParam:
      name: page
      in: query
      description: The page of results to return.
      schema:
        type: integer
        default: 1
    LimitParam:
      name: limit
      in: query
      description: The number of results per page.
      schema:
        type: integer
        default: 25
    CostReportToken:
      name: cost_report_token
      in: path
      required: true
      description: The unique token of the Cost Report.
      schema:
        type: string
    FolderToken:
      name: folder_token
      in: path
      required: true
      description: The unique token of the Folder.
      schema:
        type: string
    DashboardToken:
      name: dashboard_token
      in: path
      required: true
      description: The unique token of the Dashboard.
      schema:
        type: string
    SavedFilterToken:
      name: saved_filter_token
      in: path
      required: true
      description: The unique token of the Saved Filter.
      schema:
        type: string
    WorkspaceToken:
      name: workspace_token
      in: path
      required: true
      description: The unique token of the Workspace.
      schema:
        type: string
    TeamToken:
      name: team_token
      in: path
      required: true
      description: The unique token of the Team.
      schema:
        type: string
    AccessGrantToken:
      name: access_grant_token
      in: path
      required: true
      description: The unique token of the Access Grant.
      schema:
        type: string
    BudgetAlertToken:
      name: budget_alert_token
      in: path
      required: true
      description: The unique token of the Budget Alert.
      schema:
        type: string
    AnomalyAlertToken:
      name: anomaly_alert_token
      in: path
      required: true
      description: The unique token of the Anomaly Alert.
      schema:
        type: string
    SegmentToken:
      name: segment_token
      in: path
      required: true
      description: The unique token of the Segment.
      schema:
        type: string
    IntegrationToken:
      name: integration_token
      in: path
      required: true
      description: The unique token of the Integration.
      schema:
        type: string
    BusinessMetricToken:
      name: business_metric_token
      in: path
      required: true
      description: The unique token of the Business Metric.
      schema:
        type: string
    ResourceReportToken:
      name: resource_report_token
      in: path
      required: true
      description: The unique token of the Resource Report.
      schema:
        type: string
    NetworkFlowReportToken:
      name: network_flow_report_token
      in: path
      required: true
      description: The unique token of the Network Flow Report.
      schema:
        type: string
    FinancialCommitmentReportToken:
      name: financial_commitment_report_token
      in: path
      required: true
      description: The unique token of the Financial Commitment Report.
      schema:
        type: string
  schemas:
    CostReport:
      type: object
      properties:
        token:
          type: string
          description: The unique token identifier for the Cost Report.
        title:
          type: string
          description: The title of the Cost Report.
        filter:
          type: string
          description: The VQL filter applied to the Cost Report.
        groupings:
          type: string
          description: The groupings applied to the Cost Report.
        folder_token:
          type: string
          description: The token of the Folder this report belongs to.
        saved_filter_tokens:
          type: array
          items:
            type: string
          description: Tokens of Saved Filters applied to this report.
        workspace_token:
          type: string
          description: The token of the Workspace this report belongs to.
        created_at:
          type: string
          format: date-time
          description: The date and time the Cost Report was created.
    CostReportInput:
      type: object
      required:
        - title
      properties:
        title:
          type: string
          description: The title of the Cost Report.
        filter:
          type: string
          description: VQL filter expression for the Cost Report.
        groupings:
          type: string
          description: Groupings for the Cost Report.
        folder_token:
          type: string
          description: The token of the Folder to place the report in.
        saved_filter_tokens:
          type: array
          items:
            type: string
          description: Tokens of Saved Filters to apply.
        workspace_token:
          type: string
          description: The token of the Workspace for the report.
    Cost:
      type: object
      properties:
        date:
          type: string
          format: date
          description: The date of the cost entry.
        amount:
          type: string
          description: The cost amount.
        currency:
          type: string
          description: The currency of the cost amount.
        provider:
          type: string
          description: The cloud provider (e.g., aws, azure, gcp).
        service:
          type: string
          description: The cloud service name.
        account_id:
          type: string
          description: The cloud account identifier.
        region:
          type: string
          description: The cloud region.
        category:
          type: string
          description: The cost category.
        subcategory:
          type: string
          description: The cost subcategory.
    Folder:
      type: object
      properties:
        token:
          type: string
          description: The unique token identifier for the Folder.
        title:
          type: string
          description: The title of the Folder.
        parent_folder_token:
          type: string
          description: The token of the parent Folder, if nested.
        workspace_token:
          type: string
          description: The token of the Workspace this Folder belongs to.
        created_at:
          type: string
          format: date-time
          description: The date and time the Folder was created.
    FolderInput:
      type: object
      required:
        - title
      properties:
        title:
          type: string
          description: The title of the Folder.
        parent_folder_token:
          type: string
          description: The token of the parent Folder for nesting.
        workspace_token:
          type: string
          description: The token of the Workspace for the Folder.
    Dashboard:
      type: object
      properties:
        token:
          type: string
          description: The unique token identifier for the Dashboard.
        title:
          type: string
          description: The title of the Dashboard.
        widget_tokens:
          type: array
          items:
            type: string
          description: Tokens of widgets included in the Dashboard.
        workspace_token:
          type: string
          description: The token of the Workspace this Dashboard belongs to.
        created_at:
          type: string
          format: date-time
          description: The date and time the Dashboard was created.
    DashboardInput:
      type: object
      required:
        - title
      properties:
        title:
          type: string
          description: The title of the Dashboard.
        widget_tokens:
          type: array
          items:
            type: string
          description: Tokens of widgets to include.
        workspace_token:
          type: string
          description: The token of the Workspace for the Dashboard.
    SavedFilter:
      type: object
      properties:
        token:
          type: string
          description: The unique token identifier for the Saved Filter.
        title:
          type: string
          description: The title of the Saved Filter.
        filter:
          type: string
          description: The VQL filter expression.
        workspace_token:
          type: string
          description: The token of the Workspace this Saved Filter belongs to.
        created_at:
          type: string
          format: date-time
          description: The date and time the Saved Filter was created.
    SavedFilterInput:
      type: object
      required:
        - title
        - filter
      properties:
        title:
          type: string
          description: The title of the Saved Filter.
        filter:
          type: string
          description: The VQL filter expression.
        workspace_token:
          type: string
          description: The token of the Workspace for the Saved Filter.
    Workspace:
      type: object
      properties:
        token:
          type: string
          description: The unique token identifier for the Workspace.
        name:
          type: string
          description: The name of the Workspace.
        created_at:
          type: string
          format: date-time
          description: The date and time the Workspace was created.
    Team:
      type: object
      properties:
        token:
          type: string
          description: The unique token identifier for the Team.
        name:
          type: string
          description: The name of the Team.
        description:
          type: string
          description: The description of the Team.
        workspace_token:
          type: string
          description: The token of the Workspace this Team belongs to.
        user_tokens:
          type: array
          items:
            type: string
          description: Tokens of users who are members of the Team.
        created_at:
          type: string
          format: date-time
          description: The date and time the Team was created.
    TeamInput:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: The name of the Team.
        description:
          type: string
          description: The description of the Team.
        workspace_token:
          type: string
          description: The token of the Workspace for the Team.
        user_tokens:
          type: array
          items:
            type: string
          description: Tokens of users to add to the Team.
    AccessGrant:
      type: object
      properties:
        token:
          type: string
          description: The unique token identifier for the Access Grant.
        team_token:
          type: string
          description: The token of the Team the grant applies to.
        resource_token:
          type: string
          description: The token of the resource being granted access to.
        access:
          type: string
          description: The level of access granted.
        created_at:
          type: string
          format: date-time
          description: The date and time the Access Grant was created.
    AccessGrantInput:
      type: object
      required:
        - team_token
        - resource_token
        - access
      properties:
        team_token:
          type: string
          description: The token of the Team to grant access to.
        resource_token:
          type: string
          description: The token of the resource to grant access to.
        access:
          type: string
          description: The level of access to grant.
    BudgetAlert:
      type: object
      properties:
        token:
          type: string
          description: The unique token identifier for the Budget Alert.
        cost_report_token:
          type: string
          description: The token of the associated Cost Report.
        budget:
          type: string
          description: The budget amount.
        period:
          type: string
          description: The budget period (e.g., monthly).
        created_at:
          type: string
          format: date-time
          description: The date and time the Budget Alert was created.
    BudgetAlertInput:
      type: object
      required:
        - cost_report_token
        - budget
      properties:
        cost_report_token:
          type: string
          description: The token of the Cost Report to set the budget for.
        budget:
          type: string
          description: The budget amount.
        period:
          type: string
          description: The budget period (e.g., monthly).
    AnomalyAlert:
      type: object
      properties:
        token:
          type: string
          description: The unique token identifier for the Anomaly Alert.
        cost_report_token:
          type: string
          description: The token of the associated Cost Report.
        threshold:
          type: number
          description: The threshold percentage for anomaly detection.
        created_at:
          type: string
          format: date-time
          description: The date and time the Anomaly Alert was created.
    AnomalyAlertInput:
      type: object
      required:
        - cost_report_token
      properties:
        cost_report_token:
          type: string
          description: The token of the Cost Report to monitor.
        threshold:
          type: number
          description: The threshold percentage for anomaly detection.
    Recommendation:
      type: object
      properties:
        token:
          type: string
          description: The unique token identifier for the Recommendation.
        type:
          type: string
          description: The type of recommendation.
        description:
          type: string
          description: A description of the recommendation.
        estimated_savings:
          type: string
          description: The estimated monthly savings.
        provider:
          type: string
          description: The cloud provider.
        service:
          type: string
          description: The cloud service.
        resource_id:
          type: string
          description: The resource identifier.
        created_at:
          type: string
          format: date-time
          description: The date and time the Recommendation was generated.
    Segment:
      type: object
      properties:
        token:
          type: string
          description: The unique token identifier for the Segment.
        title:
          type: string
          description: The title of the Segment.
        filter:
          type: string
          description: The VQL filter expression for the Segment.
        priority:
          type: integer
          description: The priority order of the Segment.
        workspace_token:
          type: string
          description: The token of the Workspace this Segment belongs to.
        created_at:
          type: string
          format: date-time
          description: The date and time the Segment was created.
    SegmentInput:
      type: object
      required:
        - title
      properties:
        title:
          type: string
          description: The title of the Segment.
        filter:
          type: string
          description: The VQL filter expression.
        priority:
          type: integer
          description: The priority order of the Segment.
        workspace_token:
          type: string
          description: The token of the Workspace for the Segment.
    Integration:
      type: object
      properties:
        token:
          type: string
          description: The unique token identifier for the Integration.
        provider:
          type: string
          description: The cloud provider (e.g., aws, azure, gcp).
        status:
          type: string
          description: The current status of the Integration.
        account_identifier:
          type: string
          description: The cloud account identifier for the Integration.
        created_at:
          type: string
          format: date-time
          description: The date and time the Integration was created.
    IntegrationInput:
      type: object
      required:
        - provider
      properties:
        provider:
          type: string
          description: The cloud provider to integrate with.
        account_identifier:
          type: string
          description: The cloud account identifier.
    ManagedAccount:
      type: object
      properties:
        token:
          type: string
          description: The unique token identifier for the Managed Account.
        name:
          type: string
          description: The name of the Managed Account.
        account_identifier:
          type: string
          description: The cloud provider account identifier.
        provider:
          type: string
          description: The cloud provider.
        created_at:
          type: string
          format: date-time
          description: The date and time the Managed Account was created.
    CostProvider:
      type: object
      properties:
        token:
          type: string
          description: The unique token identifier for the Cost Provider.
        name:
          type: string
          description: The name of the Cost Provider.
        description:
          type: string
          description: A description of the Cost Provider.
    BusinessMetric:
      type: object
      properties:
        token:
          type: string
          description: The unique token identifier for the Business Metric.
        title:
          type: string
          description: The title of the Business Metric.
        cost_report_tokens_with_metadata:
          type: array
          items:
            type: object
          description: Associated cost reports with metadata.
        values:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              amount:
                type: number
          description: The values of the Business Metric over time.
        created_at:
          type: string
          format: date-time
          description: The date and time the Business Metric was created.
    BusinessMetricInput:
      type: object
      required:
        - title
      properties:
        title:
          type: string
          description: The title of the Business Metric.
        values:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              amount:
                type: number
          description: The values of the Business Metric.
        cost_report_tokens_with_metadata:
          type: array
          items:
            type: object
          description: Associated cost reports with metadata.
    ResourceReport:
      type: object
      properties:
        token:
          type: string
          description: The unique token identifier for the Resource Report.
        title:
          type: string
          description: The title of the Resource Report.
        filter:
          type: string
          description: The VQL filter applied to the Resource Report.
        workspace_token:
          type: string
          description: The token of the Workspace this report belongs to.
        created_at:
          type: string
          format: date-time
          description: The date and time the Resource Report was created.
    ResourceReportInput:
      type: object
      required:
        - title
      properties:
        title:
          type: string
          description: The title of the Resource Report.
        filter:
          type: string
          description: VQL filter expression for the Resource Report.
        workspace_token:
          type: string
          description: The token of the Workspace for the report.
    Resource:
      type: object
      properties:
        token:
          type: string
          description: The unique identifier for the Resource.
        name:
          type: string
          description: The name of the Resource.
        provider:
          type: string
          description: The cloud provider.
        service:
          type: string
          description: The cloud service.
        account_id:
          type: string
          description: The cloud account identifier.
        region:
          type: string
          description: The region of the resource.
        cost:
          type: string
          description: The cost associated with the resource.
        metadata:
          type: object
          description: Additional metadata about the resource.
    NetworkFlowReport:
      type: object
      properties:
        token:
          type: string
          description: The unique token identifier for the Network Flow Report.
        title:
          type: string
          description: The title of the Network Flow Report.
        workspace_token:
          type: string
          description: The token of the Workspace this report belongs to.
        created_at:
          type: string
          format: date-time
          description: The date and time the report was created.
    NetworkFlowReportInput:
      type: object
      required:
        - title
      properties:
        title:
          type: string
          description: The title of the Network Flow Report.
        workspace_token:
          type: string
          description: The token of the Workspace for the report.
    FinancialCommitmentReport:
      type: object
      properties:
        token:
          type: string
          description: The unique token identifier for the report.
        title:
          type: string
          description: The title of the Financial Commitment Report.
        workspace_token:
          type: string
          description: The token of the Workspace this report belongs to.
        created_at:
          type: string
          format: date-time
          description: The date and time the report was created.
    FinancialCommitmentReportInput:
      type: object
      required:
        - title
      properties:
        title:
          type: string
          description: The title of the Financial Commitment Report.
        workspace_token:
          type: string
          description: The token of the Workspace for the report.
    KubernetesEfficiencyReport:
      type: object
      properties:
        token:
          type: string
          description: The unique token identifier for the report.
        cluster_name:
          type: string
          description: The Kubernetes cluster name.
        namespace:
          type: string
          description: The Kubernetes namespace.
        idle_cost:
          type: string
          description: The idle cost for the cluster/namespace.
        total_cost:
          type: string
          description: The total cost for the cluster/namespace.
        efficiency:
          type: number
          description: The efficiency percentage.
        created_at:
          type: string
          format: date-time
          description: The date and time the report was generated.
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              message:
                type: string
                description: A human-readable error message.
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The request was malformed or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    UnprocessableEntity:
      description: The request was well-formed but could not be processed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
