openapi: 3.1.0
info:
  title: Vantage Cloud Pricing Access Grants Saved Filters API
  description: The Vantage Cloud Pricing API provides programmatic access to cloud infrastructure pricing data across multiple cloud providers. You can query products, services, and providers to retrieve up-to-date pricing information for AWS, Azure, GCP, and other supported cloud platforms. The API is free for all registered Vantage users and returns JSON-encoded responses. An OpenAPI specification is always available at https://api.vantage.sh/v1/swagger.json.
  version: 1.0.0
  contact:
    name: Vantage Support
    url: https://www.vantage.sh/
  license:
    name: Proprietary
    url: https://www.vantage.sh/terms
  termsOfService: https://www.vantage.sh/terms
servers:
- url: https://api.vantage.sh/v1
  description: Vantage Cloud Pricing API v1 Production
security:
- bearerAuth: []
tags:
- name: Saved Filters
  description: Manage saved filters for cost data.
paths:
  /saved_filters:
    get:
      operationId: getSavedFilters
      summary: Vantage Get All Saved Filters
      description: Returns all Saved Filters that the current API token has access to.
      tags:
      - Saved Filters
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response with a list of Saved Filters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  saved_filters:
                    type: array
                    items:
                      $ref: '#/components/schemas/SavedFilter'
              examples:
                Getsavedfilters200Example:
                  summary: Default getSavedFilters 200 response
                  x-microcks-default: true
                  value:
                    saved_filters:
                    - token: example_value
                      title: Example Title
                      filter: example_value
                      workspace_token: example_value
                      created_at: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createSavedFilter
      summary: Vantage Create a Saved Filter
      description: Creates a new Saved Filter.
      tags:
      - Saved Filters
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavedFilterInput'
            examples:
              CreatesavedfilterRequestExample:
                summary: Default createSavedFilter request
                x-microcks-default: true
                value:
                  title: Example Title
                  filter: example_value
                  workspace_token: example_value
      responses:
        '201':
          description: Saved Filter created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedFilter'
              examples:
                Createsavedfilter201Example:
                  summary: Default createSavedFilter 201 response
                  x-microcks-default: true
                  value:
                    token: example_value
                    title: Example Title
                    filter: example_value
                    workspace_token: example_value
                    created_at: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /saved_filters/{saved_filter_token}:
    get:
      operationId: getSavedFilter
      summary: Vantage Get a Saved Filter
      description: Returns a specific Saved Filter by token.
      tags:
      - Saved Filters
      parameters:
      - $ref: '#/components/parameters/SavedFilterToken'
      responses:
        '200':
          description: Successful response with the Saved Filter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedFilter'
              examples:
                Getsavedfilter200Example:
                  summary: Default getSavedFilter 200 response
                  x-microcks-default: true
                  value:
                    token: example_value
                    title: Example Title
                    filter: example_value
                    workspace_token: example_value
                    created_at: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateSavedFilter
      summary: Vantage Update a Saved Filter
      description: Updates an existing Saved Filter.
      tags:
      - Saved Filters
      parameters:
      - $ref: '#/components/parameters/SavedFilterToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SavedFilterInput'
            examples:
              UpdatesavedfilterRequestExample:
                summary: Default updateSavedFilter request
                x-microcks-default: true
                value:
                  title: Example Title
                  filter: example_value
                  workspace_token: example_value
      responses:
        '200':
          description: Saved Filter updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedFilter'
              examples:
                Updatesavedfilter200Example:
                  summary: Default updateSavedFilter 200 response
                  x-microcks-default: true
                  value:
                    token: example_value
                    title: Example Title
                    filter: example_value
                    workspace_token: example_value
                    created_at: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteSavedFilter
      summary: Vantage Delete a Saved Filter
      description: Deletes an existing Saved Filter.
      tags:
      - Saved Filters
      parameters:
      - $ref: '#/components/parameters/SavedFilterToken'
      responses:
        '204':
          description: Saved Filter deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    UnprocessableEntity:
      description: The request was well-formed but could not be processed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    SavedFilterInput:
      type: object
      required:
      - title
      - filter
      properties:
        title:
          type: string
          description: The title of the Saved Filter.
          example: Example Title
        filter:
          type: string
          description: The VQL filter expression.
          example: example_value
        workspace_token:
          type: string
          description: The token of the Workspace for the Saved Filter.
          example: example_value
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              message:
                type: string
                description: A human-readable error message.
          example: []
    SavedFilter:
      type: object
      properties:
        token:
          type: string
          description: The unique token identifier for the Saved Filter.
          example: example_value
        title:
          type: string
          description: The title of the Saved Filter.
          example: Example Title
        filter:
          type: string
          description: The VQL filter expression.
          example: example_value
        workspace_token:
          type: string
          description: The token of the Workspace this Saved Filter belongs to.
          example: example_value
        created_at:
          type: string
          format: date-time
          description: The date and time the Saved Filter was created.
          example: '2026-01-15T10:30:00Z'
  parameters:
    SavedFilterToken:
      name: saved_filter_token
      in: path
      required: true
      description: The unique token of the Saved Filter.
      schema:
        type: string
    LimitParam:
      name: limit
      in: query
      description: The number of results per page.
      schema:
        type: integer
        default: 25
    PageParam:
      name: page
      in: query
      description: The page of results to return.
      schema:
        type: integer
        default: 1
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Vantage API token. Create a free API key from your Vantage account page at https://console.vantage.sh/account/api_access_tokens.
