openapi: 3.2.0
info:
  title: Vantage Cost Management Workspaces API
  description: The Vantage Cost Management API provides programmatic access to cloud cost data and enables automation of cost management workflows.
  version: 2.0.0
  contact:
    name: Vantage Support
    url: https://www.vantage.sh/
  license:
    name: Proprietary
    url: https://www.vantage.sh/terms
  termsOfService: https://www.vantage.sh/terms
servers:
- url: https://api.vantage.sh/v2
  description: Vantage API v2 Production
security:
- bearerAuth: []
tags:
- name: Workspaces
  description: Manage workspaces and workspace access.
paths:
  /workspaces:
    get:
      operationId: getWorkspaces
      summary: Vantage Get All Workspaces
      description: Returns all Workspaces that the current API token has access to.
      tags:
      - Workspaces
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response with a list of Workspaces.
          content:
            application/json:
              schema:
                type: object
                properties:
                  workspaces:
                    type: array
                    items:
                      $ref: '#/components/schemas/Workspace'
              examples:
                Getworkspaces200Example:
                  summary: Default getWorkspaces 200 response
                  x-microcks-default: true
                  value:
                    workspaces:
                    - token: example_value
                      name: Example Title
                      created_at: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /workspaces/{workspace_token}:
    get:
      operationId: getWorkspace
      summary: Vantage Get a Workspace
      description: Returns a specific Workspace by token.
      tags:
      - Workspaces
      parameters:
      - $ref: '#/components/parameters/WorkspaceToken'
      responses:
        '200':
          description: Successful response with the Workspace.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
              examples:
                Getworkspace200Example:
                  summary: Default getWorkspace 200 response
                  x-microcks-default: true
                  value:
                    token: example_value
                    name: Example Title
                    created_at: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    WorkspaceToken:
      name: workspace_token
      in: path
      required: true
      description: The unique token of the Workspace.
      schema:
        type: string
    PageParam:
      name: page
      in: query
      description: The page of results to return.
      schema:
        type: integer
        default: 1
    LimitParam:
      name: limit
      in: query
      description: The number of results per page.
      schema:
        type: integer
        default: 25
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              message:
                type: string
                description: A human-readable error message.
          example: []
    Workspace:
      type: object
      properties:
        token:
          type: string
          description: The unique token identifier for the Workspace.
          example: example_value
        name:
          type: string
          description: The name of the Workspace.
          example: Example Title
        created_at:
          type: string
          format: date-time
          description: The date and time the Workspace was created.
          example: '2026-01-15T10:30:00Z'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Vantage API token. Create an API token from your Vantage account settings page at https://console.vantage.sh/account/api_access_tokens.
