openapi: 3.2.0
info:
  title: Vantage Cost Management Kubernetes API
  description: The Vantage Cost Management API provides programmatic access to cloud cost data and enables automation of cost management workflows.
  version: 2.0.0
  contact:
    name: Vantage Support
    url: https://www.vantage.sh/
  license:
    name: Proprietary
    url: https://www.vantage.sh/terms
  termsOfService: https://www.vantage.sh/terms
servers:
- url: https://api.vantage.sh/v2
  description: Vantage API v2 Production
security:
- bearerAuth: []
tags:
- name: Kubernetes
  description: Manage Kubernetes cost data and efficiency reports.
paths:
  /kubernetes:
    get:
      operationId: getKubernetesEfficiencyReports
      summary: Vantage Get Kubernetes Efficiency Reports
      description: Returns Kubernetes efficiency data that the current API token has access to.
      tags:
      - Kubernetes
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response with Kubernetes efficiency data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  kubernetes_efficiency_reports:
                    type: array
                    items:
                      $ref: '#/components/schemas/KubernetesEfficiencyReport'
              examples:
                Getkubernetesefficiencyreports200Example:
                  summary: Default getKubernetesEfficiencyReports 200 response
                  x-microcks-default: true
                  value:
                    kubernetes_efficiency_reports:
                    - token: example_value
                      cluster_name: example_value
                      namespace: example_value
                      idle_cost: example_value
                      total_cost: example_value
                      efficiency: 42.5
                      created_at: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              message:
                type: string
                description: A human-readable error message.
          example: []
    KubernetesEfficiencyReport:
      type: object
      properties:
        token:
          type: string
          description: The unique token identifier for the report.
          example: example_value
        cluster_name:
          type: string
          description: The Kubernetes cluster name.
          example: example_value
        namespace:
          type: string
          description: The Kubernetes namespace.
          example: example_value
        idle_cost:
          type: string
          description: The idle cost for the cluster/namespace.
          example: example_value
        total_cost:
          type: string
          description: The total cost for the cluster/namespace.
          example: example_value
        efficiency:
          type: number
          description: The efficiency percentage.
          example: 42.5
        created_at:
          type: string
          format: date-time
          description: The date and time the report was generated.
          example: '2026-01-15T10:30:00Z'
  parameters:
    PageParam:
      name: page
      in: query
      description: The page of results to return.
      schema:
        type: integer
        default: 1
    LimitParam:
      name: limit
      in: query
      description: The number of results per page.
      schema:
        type: integer
        default: 25
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Vantage API token. Create an API token from your Vantage account settings page at https://console.vantage.sh/account/api_access_tokens.
