openapi: 3.1.0
info:
  title: Vantage Cloud Pricing Access Grants Costs API
  description: The Vantage Cloud Pricing API provides programmatic access to cloud infrastructure pricing data across multiple cloud providers. You can query products, services, and providers to retrieve up-to-date pricing information for AWS, Azure, GCP, and other supported cloud platforms. The API is free for all registered Vantage users and returns JSON-encoded responses. An OpenAPI specification is always available at https://api.vantage.sh/v1/swagger.json.
  version: 1.0.0
  contact:
    name: Vantage Support
    url: https://www.vantage.sh/
  license:
    name: Proprietary
    url: https://www.vantage.sh/terms
  termsOfService: https://www.vantage.sh/terms
servers:
- url: https://api.vantage.sh/v1
  description: Vantage Cloud Pricing API v1 Production
security:
- bearerAuth: []
tags:
- name: Costs
  description: Retrieve cost data for Cost Reports or VQL filters.
paths:
  /costs:
    get:
      operationId: getCosts
      summary: Vantage Get Costs
      description: Returns all Costs for a CostReport or VQL filter. You can filter by cost_report_token or provide a VQL query to retrieve specific cost data.
      tags:
      - Costs
      parameters:
      - name: cost_report_token
        in: query
        description: The token of the Cost Report to retrieve costs for.
        schema:
          type: string
        example: example_value
      - name: start_date
        in: query
        description: The start date for the cost data (YYYY-MM-DD).
        schema:
          type: string
          format: date
        example: '2026-01-15'
      - name: end_date
        in: query
        description: The end date for the cost data (YYYY-MM-DD).
        schema:
          type: string
          format: date
        example: '2026-01-15'
      - name: groupings
        in: query
        description: Comma-separated list of groupings for cost data.
        schema:
          type: string
        example: example_value
      - name: vql
        in: query
        description: A VQL filter expression to query cost data.
        schema:
          type: string
        example: example_value
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response with cost data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  costs:
                    type: array
                    items:
                      $ref: '#/components/schemas/Cost'
              examples:
                Getcosts200Example:
                  summary: Default getCosts 200 response
                  x-microcks-default: true
                  value:
                    costs:
                    - date: '2026-01-15'
                      amount: example_value
                      currency: example_value
                      provider: example_value
                      service: example_value
                      account_id: '500123'
                      region: example_value
                      category: example_value
                      subcategory: example_value
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              message:
                type: string
                description: A human-readable error message.
          example: []
    Cost:
      type: object
      properties:
        date:
          type: string
          format: date
          description: The date of the cost entry.
          example: '2026-01-15'
        amount:
          type: string
          description: The cost amount.
          example: example_value
        currency:
          type: string
          description: The currency of the cost amount.
          example: example_value
        provider:
          type: string
          description: The cloud provider (e.g., aws, azure, gcp).
          example: example_value
        service:
          type: string
          description: The cloud service name.
          example: example_value
        account_id:
          type: string
          description: The cloud account identifier.
          example: '500123'
        region:
          type: string
          description: The cloud region.
          example: example_value
        category:
          type: string
          description: The cost category.
          example: example_value
        subcategory:
          type: string
          description: The cost subcategory.
          example: example_value
  parameters:
    LimitParam:
      name: limit
      in: query
      description: The number of results per page.
      schema:
        type: integer
        default: 25
    PageParam:
      name: page
      in: query
      description: The page of results to return.
      schema:
        type: integer
        default: 1
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Vantage API token. Create a free API key from your Vantage account page at https://console.vantage.sh/account/api_access_tokens.
