openapi: 3.2.0
info:
  title: Vantage Cost Management Recommendations API
  description: The Vantage Cost Management API provides programmatic access to cloud cost data and enables automation of cost management workflows.
  version: 2.0.0
  contact:
    name: Vantage Support
    url: https://www.vantage.sh/
  license:
    name: Proprietary
    url: https://www.vantage.sh/terms
  termsOfService: https://www.vantage.sh/terms
servers:
- url: https://api.vantage.sh/v2
  description: Vantage API v2 Production
security:
- bearerAuth: []
tags:
- name: Recommendations
  description: Retrieve cost optimization recommendations.
paths:
  /recommendations:
    get:
      operationId: getRecommendations
      summary: Vantage Get All Recommendations
      description: Returns all cost optimization Recommendations that the current API token has access to.
      tags:
      - Recommendations
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response with a list of Recommendations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  recommendations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Recommendation'
              examples:
                Getrecommendations200Example:
                  summary: Default getRecommendations 200 response
                  x-microcks-default: true
                  value:
                    recommendations:
                    - token: example_value
                      type: example_value
                      description: A sample description.
                      estimated_savings: example_value
                      provider: example_value
                      service: example_value
                      resource_id: '500123'
                      created_at: '2026-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              message:
                type: string
                description: A human-readable error message.
          example: []
    Recommendation:
      type: object
      properties:
        token:
          type: string
          description: The unique token identifier for the Recommendation.
          example: example_value
        type:
          type: string
          description: The type of recommendation.
          example: example_value
        description:
          type: string
          description: A description of the recommendation.
          example: A sample description.
        estimated_savings:
          type: string
          description: The estimated monthly savings.
          example: example_value
        provider:
          type: string
          description: The cloud provider.
          example: example_value
        service:
          type: string
          description: The cloud service.
          example: example_value
        resource_id:
          type: string
          description: The resource identifier.
          example: '500123'
        created_at:
          type: string
          format: date-time
          description: The date and time the Recommendation was generated.
          example: '2026-01-15T10:30:00Z'
  parameters:
    PageParam:
      name: page
      in: query
      description: The page of results to return.
      schema:
        type: integer
        default: 1
    LimitParam:
      name: limit
      in: query
      description: The number of results per page.
      schema:
        type: integer
        default: 25
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Vantage API token. Create an API token from your Vantage account settings page at https://console.vantage.sh/account/api_access_tokens.
